<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://salesfunctionapp.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/813a3605-432f-4df7-abec-cd35a13bb865/resourceGroups/rg-sprintimplementation/providers/Microsoft.Web/sites/salesfunctionapp</ResourceId>
    <UserName>$salesfunctionapp</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://salesfunctionapp.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>